<%= simple_form_for @planification do |f| %>

  <% if @planification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planification.errors.count, "error") %> prohibited this planification from being saved:</h2>

      <ul>
      <% @planification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Los campos de la planificación -->

  <%= f.hidden_field :name %>
  <%= f.hidden_field :name, value: plan.name %>

  <%= f.hidden_field :date %>
  <%= f.hidden_field :date, value: plan.date %>


  <div class="field">
    <%= f.label :school, "Selecciona el colegio en que quieres utilizar esta planificación:" %></br>
    <%= f.select :school, options_for_select(@user.schools.all.map { |s| [s.name, "#{s.name}"] })%>
  </div>

  <%= f.hidden_field :author_id %>
  <%= f.hidden_field :author_id, value: plan.author_id %>

  <%= f.hidden_field :original %>
  <%= f.hidden_field :original, value: false %>

  <%= hidden_field_tag 'gst', plan.grades_subjects_teacher_id %>

  <div class="actions">
    <%= f.submit "Crear Planificación" %>
  </div>

<% end %>
