<%= simple_form_for @planification do |f| %>

  <% if @planification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planification.errors.count, "error") %> prohibited this planification from being saved:</h2>

      <ul>
      <% @planification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- CAMPOS DE LA PLANIFICACIÓN PER SE -->
  <div class="field">
    <%= f.input :name, label: 'Título', placeholder: 'Planificación X' %>
  </div>

  <div class="field">
    <%= f.input :date, label: "Fecha" %>
  </div>

<!-- No los setea el usuario. Cambian automáticamete -->
<!-- Dejados ahí para saber que estaban. Se borrarán luego -->
<!--   <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating, id: :planification_rating %>
  </div>

  <div class="field">
    <%= f.label :downloads %>
    <%= f.text_field :downloads, id: :planification_downloads %>
  </div> -->

<% @builder = f %>
<!-- Los campos de la clase -->
  <button id="lecture-button" type="button">Agregar Clase</button>


  <div id="lecture-form">


  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

