<%= simple_form_for @planification do |f| %>

  <% if @planification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planification.errors.count, "error") %> prohibited this planification from being saved:</h2>

      <ul>
      <% @planification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- CAMPOS DE LA PLANIFICACIÓN PER SE -->
  <div class="field">
    <%= f.input :name, label: 'Título', placeholder: 'Planificación X' %>
  </div>

  <div class="field">
    <%= f.input :date, label: "Fecha" %>
  </div>

  <%= f.simple_fields_for :lectures do |g| %>

    <%= g.input :objectives, label: "Objetivos" %>
    <%= g.input :starting, label: "Inicio" %>
    <%= g.input :developing, label: "Desarrollo" %>
    <%= g.input :finalizing, label: "Cierre" %>
    <%= g.input :content, label: "Contenidos" %>
    <%= g.input :resources, label: "Recursos" %>
    <%= g.input :duration, label: "Tiempo" %>
    <%= g.input :evaluation, label: "Indicador de Evaluación" %>
    <!-- FALTA OBJETIVOS DE APRENDIZAJE -->
  <% end %>


<!--   <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating, id: :planification_rating %>
  </div>

  <div class="field">
    <%= f.label :downloads %>
    <%= f.text_field :downloads, id: :planification_downloads %>
  </div> -->



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
