<tr>
  <td>
    <p class="plan_header"><%= plan.name %></p>
    <p class="plan_info"><%= plan.subject %></p>
    <p class="plan_info"><%= plan.grade %></p>
  </td>
  <td><p class="plan_creator">Creador Original: </p>
  <p class="plan_info"><%= plan.author_name %></p>
  <p class="plan_creator">Última edición por: </P>
  <p class="plan_info"><%= plan.owner_name %></p></td>

  <td>
    <div class='star-rating' data-score= <%= plan.avg_rating %> ></div>
    <p class="plan_info"><%= plan.downloads %> Descargas</p>

  </td>
  <td>
    <p><%= link_to 'Ver', plan, :class=> "planification-link plan-button" %></p>
    <button type='button' class='plan_buttons plan-button-3' data-toggle='modal'
        data-target='#SelectSchool' >
          Descargar
    </button>
  </td>
  <div id='SelectSchool' class='modal fade' role='dialog'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class='close' data-dismiss='modal'>
            &times;
          </button>
          <h2 class="modal-title"> Colegios </h2>
        </div>
        <div class='modal-body'>
          <%= render partial: 'download_form', locals: {plan: plan} %>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default'
            data-dismiss='modal'>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</tr>
<br>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
