<p id="notice"><%= notice %></p>

<h1>Descargar Planificaciones</h1>
<!-- <div class="form">
  <%= form_tag planifications_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <div class="generate_button"><%= submit_tag 'Buscar' %></div>
  <% end %>
</div> -->
<div class="form">
  <%= form_tag planifications_path, method: 'get' do %>

    <% if params[:keywords] && params[:keywords] != '' %>
      <%= text_field_tag :keywords, params[:keywords], value: params[:keywords] %>
    <% else %>
      <%= text_field_tag :keywords, params[:keywords], placeholder: 'Buscar...' %>
    <% end %>

    <% if params[:subject] && params[:subject] != '' %>
      <%= select_tag :subject, options_for_select(@subjects, selected: params[:subject]), include_blank: true %>
    <% else %>
      <%= select_tag :subject, options_for_select(@subjects), prompt: 'Asignatura...' %>
    <% end %>

    <% if params[:school] && params[:school] != '' %>
      <%= select_tag :school, options_for_select(@schools, selected: params[:school]), include_blank: true %>
    <% else %>
      <%= select_tag :school, options_for_select(@schools), prompt: 'Colegio...' %>
    <% end %>

    <% if params[:grade] && params[:grade] != '' %>
      <%= select_tag :grade, options_for_select(@grades, selected: params[:grade]), include_blank: true %>
    <% else %>
      <%= select_tag :grade, options_for_select(@grades), prompt: 'Curso...' %>
    <% end %>
    <div class="generate_button"><%= submit_tag 'Buscar' %></div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Downloads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planifications.each do |planification| %>
      <tr>
        <td><%= planification.name %></td>
        <td><%= planification.date %></td>
        <td><%= planification.rating %></td>
        <td><%= planification.downloads %></td>
        <td><%= link_to 'Show', planification %></td>
        <td><%= link_to 'Edit', edit_planification_path(planification) %></td>
        <td><%= link_to 'Destroy', planification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
