<p id="notice"><%= notice %></p>

<h2>
  <strong>Título:</strong>
  <%= @planification.name %>
</h2>

<p>
  <strong>Fecha:</strong>
  <%= @planification.date %>
</p>

<% @planification.lectures.each do |lecture| %>
	<p>	
		<strong>Objetivos:</strong>
		<%= lecture.objectives %>
	</p>
	<p>	
		<strong>Inicio:</strong>
		<%= lecture.starting %>
	</p>
	<p>	
		<strong>Desarrollo:</strong>
		<%= lecture.developing %>
	</p>
	<p>	
		<strong>Cierre:</strong>
		<%= lecture.finalizing %>
	</p>
	<p>	
		<strong>Contenidos:</strong>
		<%= lecture.content %>
	</p>
	<p>	
		<strong>Recursos:</strong>
		<%= lecture.resources %>
	</p>
	<p>	
		<strong>Tiempo:</strong>
		<%= lecture.duration %>
	</p>
	<p>	
		<strong>Indicador de Evaluación:</strong>
		<%= lecture.evaluation %>
	</p>
<% end %>

<p>
</p>

<%= link_to 'Edit', edit_planification_path(@planification) %> |
<%= link_to 'Back', planifications_path %>
