<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @planification.name %></strong>
</h2>

<p>
  <%= @planification.date %>
</p>

<table border="1">
	<tr>
		<th><strong>Objetivos</strong></th>
		<th><strong>Inicio</strong></th>
		<th><strong>Desarrollo</strong></th>
		<th><strong>Cierre</strong></th>
		<th><strong>Contenidos</strong></th>
		<th><strong>Recursos</strong></th>
		<th><strong>Tiempo</strong></th>
		<th><strong>Indicador de Evaluación</strong></th>

	</tr>



<% @planification.lectures.each do |lecture| %>
	<tr>
		<td><%= lecture.objectives %></td>
		<td><%= lecture.starting %></td>
		<td><%= lecture.developing %>	</td>
		<td><%= lecture.finalizing %></td>
		<td><%= lecture.content %></td>
		<td><%= lecture.resources %></td>
		<td><%= lecture.duration %></td>
		<td><%= lecture.evaluation %></td>
	</tr>

<% end %>


</table>


<%= link_to 'Editar', edit_planification_path(@planification) %> |
<%= link_to 'Atrás', @planification.grades_subjects_teacher %>
