<p id="notice"><%= notice %></p>

<div class="planification_html">
  <h1>
    <strong><%= @planification.name %></strong>
  </h1>
  <%= render partial: 'reviews/rating', locals: {plan: @planification} %>

  <em> <%= "#{@planification.reviews.length} calificaciones" %> </em>
  <br>
  <div class="plan_info_label">
  	<strong>Colegio:</strong>
  	<%= @planification.grades_subjects_teacher.subjects_teacher.subject.school.name %>
  </div>
  <div class="plan_info_label">
  	<strong>Asignatura:</strong>
  	<%= @planification.grades_subjects_teacher.subjects_teacher.subject.name %>
  </div>
  <div class="plan_info_label">
  	<strong>Nivel:</strong>
  	<%= @planification.grades_subjects_teacher.grade.name %>
  </div>
  <div class="plan_info_label">
  	<strong>Profesor:</strong>
  	<%= @planification.grades_subjects_teacher.subjects_teacher.user.name %>
  	<%= @planification.grades_subjects_teacher.subjects_teacher.user.lastname %>
  </div>


  <div class="plan_info_label">
    <strong>Fecha de creación:</strong> <%= @planification.date %>
  </div>

  <table border="1" class="planification_table">
  	<tr class="table_elements">
  		<th class="table_headings"><strong>Objetivos</strong></th>
  		<th class="table_headings"><strong>Inicio</strong></th>
  		<th class="table_headings"><strong>Desarrollo</strong></th>
  		<th class="table_headings"><strong>Cierre</strong></th>
  		<th class="table_headings"><strong>Contenidos</strong></th>
  		<th class="table_headings"><strong>Recursos</strong></th>
  		<th class="table_headings"><strong>Tiempo</strong></th>
  		<th class="table_headings"><strong>Indicador de Evaluación</strong></th>
  	</tr>



  <% @planification.lectures.each do |lecture| %>
  	<tr>
  		<td class="table_content"><%= lecture.objectives %></td>
  		<td class="table_content"><%= lecture.starting %></td>
  		<td class="table_content"><%= lecture.developing %>	</td>
  		<td class="table_content"><%= lecture.finalizing %></td>
  		<td class="table_content"><%= lecture.content %></td>
  		<td class="table_content"><%= lecture.resources %></td>
  		<td class="table_content"><%= lecture.duration %></td>
  		<td class="table_content"><%= lecture.evaluation %></td>
  	</tr>

  <% end %>


  </table>


  <%= button_to 'Editar', edit_planification_path(@planification), :class=> "links", :method=> :get %>
  <%= button_to 'Atrás', @planification.grades_subjects_teacher, :class=> "links", :method=> :get %><br>
  <%= link_to 'Transformar a PDF', {controller: "planifications", action: "show", format: :pdf}, {:class=> "pdf_button"}%>

  <script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
  </script>
</div>
