<div class="form">
  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="top-row">
      <div class="field">
        <label>First Name</label><br>
        <%= f.text_field :name, id: :user_name %>
      </div>

      <div class="field">
        <label>Last Name</label><br>
        <%= f.text_field :lastname, id: :user_lastname %>
      </div>
    </div>

    <div class="field">
      <label>DOB</label><br>
      <%= f.date_field :dob, :value => Time.now.strftime('%Y-%m-%d') %>
    </div>

    <div class="field">
      <label>Phone</label><br>
      <%= f.text_field :phone, id: :user_phone %>
    </div>

    <div class="field">
      <label>Email</label><br>
      <%= f.email_field :email, autofocus: true %><br>
    </div>

    <div class="field">
      <label><%= f.label :password %></label>
      <% if @minimum_password_length %>
      <smalltext><em>(<%= @minimum_password_length %> characters minimum)</em></smalltext>
      <br>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <label>Password Confirmation</label><br>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <label>Role</label><br>
      <%= f.select :role, [["Jefe UTP", "Jefe UTP"],["Profesor", "Profesor"]], id: :user_role %>
    </div>

    <div class="actions">
      <div class="button">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
