<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <% if @user.schools.any? %>
    <h3> Colegios en los que trabajas </h3>
  <% end %>
  <p id="notice"><%= notice %></p>
<ul class="w3-ul">

  <% @user.schools.each do |school| %>
    <li>
      <%= school.name %>
      <%= form_tag({controller: "users", action: "unsubschool"}, method: "delete") do |f| %>
        <%= hidden_field_tag "schoolid", school.id %>
        <%= submit_tag("Eliminar") %>
      <% end %>
    </li>
    <ul>
      <p>Asignaturas:</p>
      <% @user.subjects.where(school_id: school.id).find_each do |subject| %>
        <li> <%= subject.name %> </li>
        <ul>
          <p> Cursos </p>
          <% @user.subjects_teachers.find_by(subject_id: subject.id).grades.each do |grade| %>
            <li>
              <%= link_to grade.name, grades_subjects_teacher_path(GradesSubjectsTeacher.find_by(subjects_teacher_id: SubjectsTeacher.find_by(subject_id: subject.id, user_id: @user.id).id, grade_id: grade.id)) %>
            </li>
          <% end %>
          <%= render partial: '/grades_subjects_teachers/form', locals: {user: @user, subject: subject} %>
        </ul>
      <% end %>
      <%= render partial: '/subjects_teachers/form', locals: {school: school} %>
    </ul>
  <% end %>
  <h3> Agregar Nuevo Colegio </h3>

  <%= form_tag(:action => "subscribe_school") do |f| %>

    <%= select_tag "schoolid", options_for_select( ["Selecciona un colegio..."] | School.all.map { |s| [s.name, "#{s.id}"] } ) %>


    <h4>Ingresa el código del colegio</h4>
    <%= text_field_tag "schoolCode", nil, placeholder: 'Código..' %>

    <br>
    <%= submit_tag "Agregar", id: "school-form-submit" %>
<% end %>

</ul>
</div>
</body>
</html>
