<h3> (Profesor) </h3>

<h2> Colegios en los que trabajas </h2>
<p id="notice"><%= notice %></p>


<ul>
  <% @user.schools.each do |school| %>
    <li>
      <%= school.name %>
      <%= form_tag({controller: "users", action: "unsubschool"}, method: "delete") do |f| %>
        <%= hidden_field_tag "schoolid", school.id %>
        <%= submit_tag("Eliminar") %>
      <% end %>
    </li>
      <ul>
        <p>Asignaturas:</p>
        <% @user.subjects.where(school_id: school.id).find_each do |subject| %>
          <li> <%= subject.name %> </li>
          <ul>
            <p> Cursos </p>
            <% @user.subjects_teachers.find_by(subject_id: subject.id).grades.each do |grade| %>
              <li>
                <%= link_to grade.name, grades_subjects_teacher_path(GradesSubjectsTeacher.find_by(subjects_teacher_id: SubjectsTeacher.find_by(subject_id: subject.id, user_id: user.id).id, grade_id: grade.id)) %>
              </li>
            <% end %>
            <%= render partial: '/grades_subjects_teachers/form', locals: {user: @user, subject: subject} %>
          </ul>
        <% end %>
        <%= render partial: '/subjects_teachers/form', locals: {school: school} %>
      </ul>

  <% end %>
</ul>


<h3> Agregar Nuevo Colegio </h3>

<%= form_tag(:action => "subscribe_school") do |f| %>

  <%= select_tag "schoolid", options_for_select(["Selecciona un colegio..."] | School.all.map { |s| [s.name, "#{s.id}"] }) %>

  <%= submit_tag("Agregar") %>
<% end %>
