<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
  <h1>Jefe UTP <%= @utp.name %> <%= @utp.lastname %>,</h1>

  <article>
  	<p>El profesor <%= @prof_name %> solicita a ud. hacer revisión de la siguiente planificación:</p>
  	<p><strong>Título:</strong> <%= @planification.name %></p>
  	<p><strong>Fecha de Creación:</strong> <%= @planification.date %></p>
  	<p><strong>Asignatura:</strong> <%= @planification.grades_subjects_teacher.subjects_teacher.subject.name %></p>
  	<p><strong>Curso:</strong> <%= @planification.grades_subjects_teacher.grade.name %></p>
  </article>

</body>
</html>