<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
  <h1>Profesor(a) <%= @prof.name %> <%= @prof.lastname %>,</h1>

  <article>
  	<p>El Jefe UTP <%= @utp_name %> notifica a ud. que se ha hecho revisión de la siguiente planificación:</p>
		<section>
	  	<p><strong>Título:</strong> <%= @planification.name %></p>
	  	<p><strong>Fecha de Creación:</strong> <%= @planification.date %></p>
	  	<p><strong>Asignatura:</strong> <%= @planification.grades_subjects_teacher.subjects_teacher.subject.name %></p>
	  	<p><strong>Curso:</strong> <%= @planification.grades_subjects_teacher.grade.name %></p>
  	</section>

  	<p><strong>Comentarios:</strong> <%= @planification.utpcomment %>
  	</p>

  </article>

</body>
</html>