<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div class="field">
    <%= form.label :nombre %></br>
    <%= form.text_field :name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :RBD %></br>
    <%= form.text_field :RBD, id: :school_RBD %>
  </div>

  <div class="field">
    <%= form.label :dirección %></br>
    <%= form.text_field :address, id: :school_address %>
  </div>

  <div class="field">
    <%= form.label :teléfono %></br>
    <%= form.text_field :phone, id: :school_phone %>
  </div>

  <div class="info_form">
    <div style="cursor:pointer;" class="generate_button button-block" id="new-school-code-generator">
      Generar Código
    </div></br>
    <div class="info_label">Código: <p style="display:inline;" class="code-paragraph"></p>
    </div>
  </div>

  <%= form.hidden_field :code, id: :school_code, class: "code-paragraph", value: "" %>

  <div class="actions">
    <div class="button button-block">
      <%= form.submit "Crear Escuela" %>
    </div>
  </div>


</div>
<% end %>
