<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Rbd:</strong>
  <%= @school.RBD %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<%= link_to 'Editar informaci贸n del colegio', edit_school_path(@school) %>

<% if @school.subjects.any? %>
  <h2> Asignaturas dictadas en Colegio <%= @school.name %>: </h2>
  <% @school.subjects.each do |s| %>
    <p><%= s.name %>
      <% if(current_user.role == 'Jefe UTP') %>
        <%= link_to 'Eliminar', school_subject_path(s.school, s) ,method: :delete %> </p>
      <% end %>
  <% end %>
<% end %>

<h3> Agregar nueva asignatura </h3>
<%= form_for([@school, @school.subjects.build]) do |f| %>
  <div class = "field">
    <%= f.label :name, 'Nombre de la Asignatura' %>
    <%= f.text_field :name %>
  </div>
  <div class = "field">
    <%= f.label :description, 'Descripci贸n de la Asignatura (opcional)' %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>
<button id="code-generator">Generar C贸digo</button><p>C贸digo: </p><p id="code-paragraph"></p>
<br>

<div id="school-id" data-school-id="<%= @school.id %>" ></div>

<%= link_to 'Back', user_path(current_user.id) %>