<!DOCTYPE html>
<html>
  <head>
    <title>Planef</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>

      <nav>
        <ul>
        <li><a href="#">
            <%= link_to "Mi Perfil", user_path(current_user.id) %>
        </a></li>
        <li><a href="#">
            <%= link_to "Cerrar Sesion", destroy_user_session_path, :method => 'delete' %>
        </a></li>
      </ul>
    </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
